﻿#game {
    width : 100%;
    height : 100%;
}

/* Dla mniejszych ekranów użyje mniejszego fontu  */ 
@media (max-device-width: 480px) {
    #game {
        font-size : 32px;
    }
}

/* Użyje większego fontu dla iPadów i innych tabletów */
@media (min-device-width: 768px) {
    #game {
        font-size : 64px;
    }
}

/* tryb pejzażowy w smartfonach */ 
@media (orientation: landscape) {
    #splash-screen,
    #main-menu {
        font-size : 1.0em;
        padding-top : 0.75em;
    }
    ul.menu li {
        display : inline-block;
        margin : 0;
    }
    ul.menu li button {
        margin : 0.5em;
        font-size : 0.5em;
    }
}

/* tryb pejzażowy na małym wyświetlaczu */
@media (orientation: landscape) and (max-device-width : 480px) {
    ul.menu li button {
        font-size : 0.4em;
    }    
}

/* tryb pejzażowy w tabletach */
@media (orientation: landscape) and (min-device-width : 768px) {
    #splash-screen,
    #main-menu {
        padding-top : 1.5em;
    }
}
